<titledPanel title="My Stores">
  <p>This is your list of stores.  You can add a store by clicking the plus sign.  To select a store, click the store image.</p>
  <table width="100%">
    <tr>
<!--      <th width="40px"><input type="checkbox"/></th>  -->
      <th>Name</th>
      <th>Website</th>
      <th>Company Email</th>
    </tr>
    <tr  *ngFor="let franchise of storesService.observableList | async">
      <!--      <td><input type="checkbox"/></td>  -->
      <td><a [routerLink]="['/view-store', franchise.franchise_pk]">{{franchise.name}}</a></td>
      <td><a href="{{franchise.website}}">{{franchise.website}}</a></td>
      <td>({{franchise.company_email}}</td>
    </tr>
  </table>
</titledPanel>
