<!--
<header *ngIf="showHeader" id="header" class="header header--fixed hide-from-print" role="banner">
-->
<header id="header" style="display: {{headerDisplay}};" class="header header--fixed hide-from-print" role="banner">
  <div class="container-fluid" >

    <nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
      <div class="navbar-header">
        <img class="app-icon" src="{{brandIcon.image}}" alt="{{brandIcon.displayText}}" style="width:32px;height:28px; vertical-align: middle;"/>
        <b class="brand__forename">{{brandForename}}</b>&nbsp;
        <b class="brand__surname hide-on-mobile">{{brandSurname}}</b>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#containerNavbarCenter" aria-controls="containerNavbarCenter" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="nav navbar-nav navbar-right">
          <li *ngFor="let navitem of navItemService.observableList | async" class="nav-item">
            <ng-container *ngIf="navitem.id != 'navLogout'; else elseBlock">
              <a class="{{navitem.classPrefix}}-{{displayNavItems}}" routerLink="{{navitem.href}}" routerLinkActive="active">
                <span class="glyphicon {{navitem.glyphicon}}"></span>
                &nbsp;&nbsp;{{navitem.displayText}}
              </a>
            </ng-container>
            <ng-template #elseBlock>
              <a class="{{navitem.classPrefix}}-{{displayNavItems}}" (click)="logout()">
                <span class="glyphicon {{navitem.glyphicon}}"></span>
                &nbsp;&nbsp;Sign out
              </a>
            </ng-template>
          </li>
          <li class="nav">
            <div id="googleBtn" class="g-signin2" data-onsuccess="onSignIn"></div>
          </li>
        </ul>
      </div>
      <div class="navbar-collapse collapse" id="containerNavbarCenter">
        <ul class="nav navbar-nav navbar-right">
          <li *ngFor="let navitem of navItemService.observableList | async" class="nav-item">
            <ng-container *ngIf="navitem.id != 'navLogout'; else elseBlock">
              <a class="{{navitem.classPrefix}}-{{displayNavItems}}" routerLink="{{navitem.href}}" routerLinkActive="active">
                <span class="glyphicon {{navitem.glyphicon}}"></span>
                &nbsp;&nbsp;{{navitem.displayText}}
              </a>
            </ng-container>
            <ng-template #elseBlock>
              <a class="{{navitem.classPrefix}}-{{displayNavItems}}" (click)="logout()">
                <span class="glyphicon {{navitem.glyphicon}}"></span>
                &nbsp;&nbsp;Sign out
              </a>
            </ng-template>
          </li>
          <li class="nav">
            <div id="googleBtn" class="g-signin2" data-onsuccess="onSignIn"></div>
          </li>
        </ul>
      </div>
    </nav>
  </div>

</header>
