
<appHeader [brandForename]="brandForename" [headerDisplay]="headerDisplay" [brandSurname]="brandSurname" [brandIcon]="brandIcon" [navItems]="navItems"></appHeader>

<article>
  <header class="feature">
    <div class="container container-fluid feature-title">
      <h2 class="feature-title__title headroom-title">{{pageName}}</h2>
      <p class="feature-title__subtitle">{{subTitle}}</p>
      <breadcrumbs></breadcrumbs>
      <!-- Types:  success, info, warning, danger -->
      <div *ngIf="alertMsg">
        <div class="alert alert-{{alertType}}" role="alert">
          {{alertMsg}}
        </div>
        <div style="font-size: 60%;">&nbsp;</div>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>

  <a id="back-to-top" class="btt btn btn--plain hide-from-print top-btn" href="#" id="btt">Back To Top <i class="icon icon--up"></i></a>
</article>
