<ng-template #addContent>
  <label for="username">Username:</label>
  <input type="text" id="username">
  <label for="username">First Name:</label>
  <input type="text" id="first_name">
  <label for="username">Username:</label>
  <input type="text" id="last_name">
  &nbsp;
  <br/>
  <a href="#" class="btn btn-large btn-primary">Save</a>&nbsp;
  <a href="#" class="btn btn-large btn-primary">Cancel</a>
</ng-template>
<titledPanel title="Users" addEnabled=true (addClicked)="addButtonClicked()">
  <p>
    This is the list of users.  You can add a user by clicking the plus sign.  To select a user, click the user's login ID.
  </p>
  <button type="button" class="btn btn-outline-secondary" placement="right" ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on right">
    Popover on right
  </button>

  <ngb-accordion [closeOthers]="true" activeIds="pnl1" class="subsection">
    <ngb-panel id="pnl11" title="">
      <ng-template ngbPanelTitle>Section 1</ng-template>
      <ng-template ngbPanelContent>
        One<br/>One<br/>One<br/>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="pnl12" title="">
      <ng-template ngbPanelTitle>Section 2</ng-template>
      <ng-template ngbPanelContent>
        Two<br/>Two<br/>Two<br/>
      </ng-template>
    </ngb-panel>
    <ngb-panel id="pnl13" title="">
      <ng-template ngbPanelTitle>Section 3</ng-template>
      <ng-template ngbPanelContent>
        Three<br/>Three<br/>Three<br/>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <button type="button" class="btn btn-outline-secondary" placement="bottom"
          ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on bottom">
    Popover on bottom
  </button>

  <ng-template #popContent>Hello, <b>{{name}}</b>!</ng-template>
  <button type="button" class="btn btn-outline-secondary" [ngbPopover]="popContent" popoverTitle="Fancy content">
    I've got markup and bindings in my popover!
  </button>

  <table width="100%">
    <tr>
<!--      <th width="40px"><input type="checkbox"/></th>  -->
      <th>Username</th>
      <th>Name</th>
    </tr>
    <tr  *ngFor="let user of usersService.observableList | async">
      <!--      <td><input type="checkbox"/></td>  -->
      <td><a [routerLink]="['/edit-user', user.username]">{{user.username}}</a></td>
      <td>({{user.first_name}} {{user.last_name}}</td>
    </tr>
  </table>
</titledPanel>
