<ng-template #addContent>
  <div class="popover-section">
    <p>
      Please enter the properties of the user you would like to add and click the "Save" button.
    </p>
    <label for="username">Username:</label><br/>
    <input type="text" id="username"><br/>
    <label for="username">First Name:</label><br/>
    <input type="text" id="first_name"><br/>
    <label for="username">Last Namee:</label><br/>
    <input type="text" id="last_name"><br/>
    &nbsp;<br/>
    <div class="center-div" style="width: 133px;">
      <a href="#" class="btn btn-large btn-primary">Save</a>&nbsp;
      <a href="#" class="btn btn-large btn-primary">Cancel</a>
    </div>
  </div>
</ng-template>
<titledPanel title="Users" addEnabled=true (addClicked)="addButtonClicked()">
  <p>
    This is the list of users.  You can add a user by clicking the plus sign.  To select a user, click the user's login ID.
  </p>
  <button type="button" class="btn btn-outline-secondary" placement="right" [ngbPopover]="addContent" popoverTitle="Add User">
    Add
  </button>
  <br/>
  <table width="100%">
    <tr>
<!--      <th width="40px"><input type="checkbox"/></th>  -->
      <th>Username</th>
      <th>Name</th>
    </tr>
    <tr  *ngFor="let user of usersService.observableList | async">
      <!--      <td><input type="checkbox"/></td>  -->
      <td><a [routerLink]="['/edit-user', user.username]">{{user.username}}</a></td>
      <td>({{user.first_name}} {{user.last_name}}</td>
    </tr>
  </table>
</titledPanel>
